%h3 Comments
- if @comments.any?
  - @comments.each do |comment|
    .comment
      .page-header
        %h2
          %small= "Added by #{comment.user.name}"
        Message:
        = comment.message
