= "You have already commented on this movie:"
%br
= @user_comment.message
%br
= @user_comment.created_at.strftime("%m/%d/%Y  %H:%M")
%br
= "Delete this comment prior to adding a new one!"
%br
=link_to "Delete your comment", movie_comment_path(@user_comment.movie_id, @user_comment.id), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
